@page "/about"

<h3>About</h3>

<p>Backlogs Web is the web version of the Windows application Backlogs. For a better user experience, native performance and more features like notifications and live tiles, download the app from the Microsoft Store.</p>

<br />
<p>This web application is completely free and open-source (licensed under the GNU GPL 3), just like the Windows application. The purpose of making this application was to provide users to access it on non-Windows devices. This app is built using Blazor WASM.</p>

<br />
<h4>Helpful Links</h4>
<a href="https://github.com/surya-sk/backlogs-web">Source code on GitHub</a> <br />
<a href="https://github.com/surya-sk/backlogs-web/blob/master/LICENSE">GNU General Public License 3</a> <br />
<a href="https://apps.microsoft.com/store/detail/9N2H8CM2KWVZ?hl=en-us&gl=US">Download the application on Windows</a> <br />
<a href="https://github.com/surya-sk">My GitHub profile</a> <br />

<br />
<h4>References</h4>
<p>Film and TV series data obtained from <a href="https://www.imdb.com/">IMDb</a></p>
<p>Music data obtained from <a href="https://www.last.fm/">LastFM</a></p>
<p>Book data obtained from <a href="https://books.google.com/">Google Books</a></p>
<p>Game data obtained from <a href="https://www.igdb.com/">IGDB</a></p>
<p>Microsoft account and OneDrive integration made possible by <a href="https://docs.microsoft.com/en-us/graph/overview">Microsoft Graph</a></p>

<br />
<br />
<h4>Developed by Surya K.</h4>

@code {

}
