@page "/selectedBacklog/{id}"
@using Microsoft.Graph

@inject BacklogsWeb.Graph.GraphClientFactory clientFactory

<AuthorizeView>
	<div class="row">
		<div class="col">
			<table>
				<tr>
					<img src=@selectedBacklog?.ImageURL height=200 width=200 />
					<br />
				</tr>
				<tr>
					<div>
						<h5>@selectedBacklog?.Name</h5>
						<h6>@selectedBacklog?.Director</h6>
						<p>@selectedBacklog?.Description</p>
					</div>
				</tr>
			</table>
		</div>

		<div>
			<div class="col">
			<table>
				<tr>
					<th>Created Date</th>
					<th>Target Date</th>
				</tr>
				<tr>
					<td>@selectedBacklog?.CreatedDate</td>
					<td>@selectedBacklog?.TargetDate</td>
				</tr>
			</table>
		</div>
		</div>

	<br />
	<br />

	<div>
		<br />
		<p>Have you finished checking this out?</p>
		<button>Mark As Complete</button>

		<br />
		<br />
	
		<p>Metadata obtained from <a href=@sourceLink>@source</a></p>
		</div>
	</div>
</AuthorizeView>

@code {
	[CascadingParameter]
	private Task<AuthenticationState>? authenticationState { get; set; }
	[Parameter]
	public string id { get; set; }
	private GraphServiceClient? graphClient;
	private List<Backlog>? allBacklogs;
	private Backlog? selectedBacklog;
	private string? source;
	private Uri? sourceLink;

	protected override async Task OnInitializedAsync()
	{
		graphClient = clientFactory.GetAuthenticatedClient();
		var user = (await authenticationState).User;

		//await BacklogsSingleton.GetInstance().ReadDataAsync(graphClient);
		allBacklogs = BacklogsSingleton.GetInstance().GetIncompleteBacklogs();
	}

	protected override void OnParametersSet()
	{
		selectedBacklog = allBacklogs?.First(b => b.Id.ToString() == id);
		switch(selectedBacklog?.Type)
		{
			case "Film":
				source = "IMdB";
				sourceLink = new Uri("https://www.imdb.com/");
				break;
			case "Album":
				source = "LastFM";
				sourceLink = new Uri("https://www.last.fm/");
				break;
			case "TV":
				source = "IMdB";
				sourceLink = new Uri("https://www.imdb.com/");
				break;
			case "Game":
				source = "IGDB";
				sourceLink = new Uri("https://www.igdb.com/discover");
				break;
			case "Book":
				source = "Google Books";
				sourceLink = new Uri("https://books.google.com/");
				break;
		}
	}
}
